<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assistive.com.tecnicoworkshop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".TextEntry" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" >
        </activity>
        <activity
            android:name=".Libraries"
            android:label="@string/title_activity_service_controler"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="assistive.com.tecnicoworkshop.MainMenu" />
        </activity>
        <activity
            android:name=".ListExample"
            android:parentActivityName=".MainMenu" >
        </activity>
        <activity
            android:name=".Sensors"
            android:label="@string/title_activity_sensors"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="assistive.com.tecnicoworkshop.MainMenu" />
        </activity>
    </application>

</manifest>
